@use "scss/breakpoints";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root {
    font-size: 62.5%;
    --color-main: #40596b;
    --color-red: #ff7058;
    --color-blue: #54c0eb;
    --color-grey--light: #f5f2f0
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.6rem;
    font-family: 'Ubuntu', sans-serif;
    color: var(--color-main);
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

a {
    color: var(--color-blue);

    &:hover {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    display: block;
}

p {
    margin: 0;

    & + p {
        margin-top: 2rem;
    }
}

.content-limit {
    width: 100rem;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 10rem);

    @include breakpoints.less-than(600px) {
        max-width: calc(100% - 4rem);
    }
}

.Page {
    margin-top: 5rem;
    margin-bottom: 5rem;

    button {
        cursor: pointer;
    }

    &-metas {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 3rem;
    }

    &-description {
        margin-top: 3rem;
        font-size: 2rem;
        padding-bottom: 3rem;
        border-bottom: var(--color-main) solid 1px;

        code {
            display: inline-block;
            font-size: 0.8em;
            background-color: var(--color-grey--light);
            padding: 0.1em 0.5em;
            font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
        }
    }

    &-demos {
        margin-top: 5rem;

        &-title {
            margin-bottom: 2rem;
        }
    }
}

.Demo {
    & + .Demo {
        margin-top: 8rem;
    }

    &-result {
        padding: 2rem;
        border: var(--color-red) solid 1px;
    }

    &-links {
        padding: 2rem;
        margin-top: 1rem;
        background-color: var(--color-blue);

        &:empty {
            display: none;
        }
    }
}

.Post {
    display: block;
    text-decoration: none;
    color: var(--color-main);
    width: 30rem;
    max-width: 100%;
    background: var(--color-blue);
    padding: 2rem;
    border-radius: 0.4rem;
    
    &:hover {
        .Post-read_more {
            text-decoration: underline;
        }
    }
}

@include breakpoints.less-than(600px) {
    pre[class*=language-] {
        font-size: 1.3rem;
    }
}